.container-background{
  background: url("https://static.standard.co.uk/s3fs-public/thumbnails/image/2016/09/30/10/cocktails.jpg");
  padding-bottom: 400px;
}

.show-header {
  color: rgb(200, 200, 200);

}

.show-container{
  padding-left: 154px;
  padding-top: 50px;
}

.show-paragraph {
  color: rgb(200, 200, 200);
}
